body{
    background-color:black;
    font-family: 'Saira Stencil One', cursive;
}
h1{
    text-align: center;
    color: crimson;
    margin-top: 250px;
    font-size: 400%;
}
button{
    width: 8.8em;
    height: 3.8em;
    color: blue;
    font-size: 150%;
    margin-left: 43%;
    font-weight: bold;
}